<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="master.html" />

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
    


</head>
<body>
<P/>
<br></br>
<div align="left">
<P><b>Enter a protein sequence (as a single string or FASTA format) or a UniProtKB Accession (i.e., O65065)</b></P>
${form()}


</div>





</body>
</html>
